@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url('https://fonts.googleapis.com/css?family=Raleway');

$kodilla-white: #FFF;
$background-black: rgba(0, 0, 0, .5);
$width-100: 100%;
$height-100: 100%;
$font: 'Open Sans';
$i-borderColor: #313332;
$gray-ImagColor: gray;
$marginTop: 20px;
$backgroundImageColor: #E6E6E6; 
$lightBlue : #00C2E6;

@mixin center($x:0,$y:auto) {
    margin: $x $y;
}

@mixin padd($x:0,$y:0) {
    padding: $x $y;
}

@mixin paddLeft($size:2px) {
    padding-left: $size;
}

@mixin fontSize($x:16px) {
    font-size: $x;
}

@mixin fontWeight($size:bolder) {
    font-weight: $size;
}

@mixin background-size($sizeX,$sizeY) {
    -webkit-background-size: $sizeX $sizeY;
    -ms-background-size: $sizeX $sizeY;
    -moz-background-size: $sizeX $sizeY;
    background-size: $sizeX $sizeY;
 }

@mixin backgroundImage($color:$backgroundImageColor,$perc1:25%,$deg:45deg) {
    background-image: -moz-linear-gradient($deg, $color $perc1, transparent $perc1), -moz-linear-gradient(-$perc1, $color $perc1, transparent $perc1), -moz-linear-gradient($perc1, transparent 75%, $color 75%), -moz-linear-gradient(-$perc1, transparent 75%, $color 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, $color), color-stop(.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, $color), color-stop(.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, $color)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, $color));
}

@mixin circle($w:100%,$h:100%,$radius:50%) {
    height: $h;
    width: $w;
    border-radius: $radius;
    float: left;    
}

@mixin filter($con:0.90) {
    filter: contrast($con);
    -webkit-filter: contrast($con);
    -moz-filter: contrast($con);    
    -ms-filter: contrast($con);    
 }

@mixin transleteY($degre) {
    transform: translateY($degre);
    }


* {
    box-sizing: border-box;
 }

.container {
    width: $width-100;
    max-width: 1200px;
    margin: auto;
}

.row::before,
.row::after {
	content: "";
	display: table ;
	clear: both;
 }

[class*="col-"] {
    width: $width-100;
    float: left;
 }  

body {
    margin: 0;
    font-family: $font, sans-serif;
 }

section >.container {
    @include center(50px);
 }

.benefits {
    @include center(-49px);
 }

.header-nav li {
    float: left;
 }

header {
  height: $height-100;
  background-color: $background-black;
}

nav {
    
    ul {
        float: right;
        @include center(-11px,32px);
        @include padd();
        list-style-type: none;
        }
    
    a {
        line-height: 50px;
        display: block;
        color: $kodilla-white;
        @include padd(0,20px);
        text-decoration: none;
        text-transform: uppercase;    
        }
    
}

.featured {
    text-align: center;
    @include center(-40px);
 } 

.hero {
    background-image: url("https://images.unsplash.com/photo-1526925712774-2833a7ecd0d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=840&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 311px;
    width: $width-100;
    position: relative;
 }

.slogan {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 16px;
    margin: 0;
    @include padd(0,15px);
    background-color: $background-black;
    filter: alpha(opacity=50);
    float: right;
    max-width: 800px;
    color: $kodilla-white;
 }

.items {
    text-align: center;
    @include fontSize(14px);
    margin-top: $marginTop;
    
    i {
        border: 2px solid $i-borderColor;
        padding: 30px;
        border-radius: 5px;
        background-color: $i-borderColor;
        color: $kodilla-white;        
    }
    
 }
            
.image {
  width: $width-100;
  background-color: $gray-ImagColor;
 }  

.container {

    h1 {
        text-align: center;
     }    

    .col1 {
        text-align: center;
     }
    
    img {
        height: auto;
    }
}

.featured p {
    font-size: 12px;
}

.object-fit_cover { 
  object-fit: cover;
  width: $width-100;
 }

div[class*='col-'] {
    position: relative;
 }

.layer {
    height: 97%;
    width: $width-100;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    overflow: visible;
    
    i {
        color: #ccc;
        @include center();
        display: inline-block;
        width: 33.33%;
        @include fontSize(28px);
        top: 50%;
        position: relative;
        left: 25%;
     }
    
 }

@keyframes iconColor {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
 }





.employe {
    @include circle();
    @include backgroundImage();
    @include background-size(24px,24px);
    @include filter();
    overflow: hidden;
    margin-left: 12px;
    position: absolute;
 }


.picture {
    @include backgroundImage();
    @include background-size(24px,24px);
    @include filter(0.2);
    position: relative;
    width: $width-100;
    margin-bottom: 40px;
    background-color: $background-black;
    @include center();
 }

.pictureOne {
    position: absolute;
    @include transleteY(-89%);
    
    img {
        width: 95%;
        min-height: 20%;
        top: 16px;
        position: relative;
        height: auto;
        left: 7px; 
    }
    
 }

.blockOne {
    float: left;
    width: 50%;
 }

.num-1 span {
    @include fontSize(50px);
    font-family: 'Raleway', sans-serif;
    @include fontWeight(900);
    font-style: normal;
 }

.number {

    div {
        margin: 10px auto;
        text-align: center;
    }
    
    h3 {
        color: $lightBlue;
        @include fontWeight();
        @include fontSize(25px);
    }
    
    .n3 {
        position: relative;
        top: -2px;
    }
}
     
.about-us  {
    @include paddLeft(9px);
 }

.about-us h3::after, 
.touch h3::after, 
.social h3::after {
    content: "";
    position: relative;
    top: 32px;
    height: .5em;
    border-top: 1px solid $kodilla-white;
    width: 60px;
    @include paddLeft(38px);
    margin-left: 7px;
 }
    


  